* {
  font-family: 'Linotte', arial, sans-serif;
}

html {
  overflow: auto;
}

::selection {
  background: midnightblue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: midnightblue; /* Gecko Browsers */
}
